<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="header :: myheader"></div>
    <title>Dashboard</title>
</head>
<body>
    <h2 id="header2one">DASHBOARD</h2>
    <section id="container1">
        <section id="sec1">
            <div class="div1" >Future Enhancement</div>
        </section>
        <section id="sec2">
            <div class="div2" >Future Enhancement</div>
            <div class="div3" >Future Enhancement</div>
        </section>
    </section>
</body>
</html>